{% extends "base.html" %}
{% block content %}
<h1> Login! </h1>
<form role="form" method="POST">
    <div class="form-group">
        <label for="email">Email (username)</label>
        <input type="email" class="form-control" id="email" name="email" placeholder= "Eg: john@doh.com" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder= "" required>
    </div>  
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}